body{
	font-family: $fontCairo;
	font-weight: $fontLight;
 }
 .typeLight{
	font-family: $fontCairo;
	font-weight: $fontLight;
 }

 .typeRegular{
	font-family: $fontCairo;
	font-weight: $fontRegular;
 }

 .typeBold{
	font-family: $fontCairo;
	font-weight: $fontBold;
 }

 .typeBlack{
	font-family: $fontCairo;
	font-weight: $fontBlack;
 }