body{
	font-family: $font;
	font-weight:$fontLuz;
 }
 .typeLuz{
	font-family: $font;
	font-weight:$fontLuz;
 }
 .typeRegular{
	font-family: $font;
	font-weight:$fontRegular;
 }
 .typeNegrita{
	font-family: $font;
	font-weight:$fontNegrita;
 }
 .typeNegro{
	font-family: $font;
	font-weight: $fontNegro;
 }