$primario: #f5f5f5;
$fondo-nav: #f8f1f4;
$fondo-bg: #faf2f2;
$texto-grande: #272727;
$texto-secundario:#191414;

$font: 'Cairo', sans-serif;
$fontLuz: 300;
$fontRegular: 400;
$fontNegrita: 700;
$fontNegro: 900;

$anchoTotalPorcentaje: 100%;
$altoAuto: auto;

$colorHover: #9c063d88;
$botonProductos: #e2135888;