$fontCairo: 'Cairo', sans-serif;
$fontLight: 300;
$fontRegular: 400;
$fontBold: 700;
$fontBlack: 900;

$colorNav: #ffd7e3;
$colorBg: #fadbe3;
$colorSpecial: #ff9fbf6e;
$colorTextoGrande: #363234;
$colorTextoTitulo: #000000;
$colorTextoContenido: #080808;
$colorTema: #fd116088;
$colorHover: #f8558bfa;
$colorHoverBlack: #050505;
$colorLetraButton: #ffffff;

$anchoTotalPorcentaje: 100%;